{% extends "crud/base2.html" %}
{% load static %}

{% block contenido %}
<div class="p-4">
    <h1>Detalle de Compra</h1>
    <p><strong>Fecha de Compra:</strong> {{ registro.fecha_compra }}</p>
    <p><strong>Total:</strong> {{ registro.total }}</p>
</div>
<div class="table-responsive p-4">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.producto.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.precio_producto }}</td>
                <td>{{ item.subtotal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center mt-3 p-4">
    <a href="{% url 'detallecompras' %}" class="btn btn-outline-primary">Volver a Detalle de Compras</a>
</div>

{% endblock contenido %}