{% extends "crud/base2.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="row pt-3">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form>
      <div class="mb-3 mt-3">
        <label for="idrut" class="form-label">Rut</label>
        <input type="text" class="form-control" name="rut" id="idrut" value="{{perfil.rut}}" readonly>
      </div>

      <div class="mb-3 mt-3">
        <label for="idnombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nom" id="idnombre" value="{{perfil.first_name}}" readonly>
      </div>

      <div class="mb-3">
        <label for="idapellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" name="ape" id="idapellido" value="{{perfil.last_name}}" readonly>
      </div>

      <div class="mb-3">
        <label for="idcelular" class="form-label">Celular</label>
        <input type="number" class="form-control" name="celu" id="idcelular" value="{{perfil.celular}}" readonly>
      </div>

      <div class="mb-3">
        <label for="iddireccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" name="direc" id="iddireccion" value="{{perfil.direccion}}" readonly>
      </div>

      <div class="mb-3">
        <label for="idpostal" class="form-label">Codigo Postal</label>
        <input type="number" class="form-control" name="postal" id="idpostal" value="{{perfil.postal}}" readonly>
      </div>

      <div class="mb-3">
        <label for="idemail" class="form-label">Email:</label>
        <input type="email" class="form-control" name="em" id="idemail" value="{{perfil.email}}" readonly>
      </div>

      <div class="text-center mb-4">
        <a href="{% url "modificar_usuario" perfil.username %}" class="btn btn-primary">Modificar</a>
        <a href={% url "eliminar" perfil.username %} role="button" class="btn btn-danger text-light">Eliminar</a>
        <a href="{% url "cerrar_sesion" %}" class="btn btn-primary">Cerrar sesion</a>
      </div>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>


{% comment %} <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Estas seguro de eliminar tu cuenta?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Una vez borrada tu cuenta no se podra recuperar...
        <br>
        Ingrese su contraseña para continuar
        <form action="{% url "index" %}">
          <div class="mb-3">
            <label for="idpass" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" name="pass" id="idpass" required>
            <div class="text-danger" id="mensaje"></div>
          </div>

          <input type="button" value="Aceptar" class="btn btn-success" onclick="submitForm()">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>

        </form>
      </div>


    </div>
  </div>
</div> 
{% endcomment %}

<script src='{% static "crud/js/scriptsf.js" %}'></script>
{% endblock contenido %}